.topicos{
  background: var(--azul-degrade);
  color: var(--branco);
  height: 295px;
  /* margin-top: 2rem; */
}
.topicos__titulo{
  text-align: center;
  justify-content: center;
  padding: 2em 0;
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  gap: 32px;
}
.topicos__lista{
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  align-items: space-between;
  line-height: 56px;
  justify-content: center;

  /* margin: 0 12rem; */
}
.topicos__link{
  background-color: var(--laranja);
  padding: 16px 24px;
  color: var(--branco);
  text-decoration: none;
}
.contato{
  padding: 24px;
}
.contato__titulo{
  background: var(--azul-degrade);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
  font-weight: 500;
  font-size: 18px;
  line-height: 27px;
}
.contato__texto{
  background: var(--azul-degrade);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 1em 0;
}
.contato__email{
  padding: 1em;
  color: var(--azul);
  border: 1px solid var(--azul);
  border-radius: 24px;
  width: 90%;
}
.contato__email::placeholder{
  color: var(--azul-degrade);
  font-family: var(--fonte-principal);
  background: url("../assets/Email.svg")no-repeat;
  
  padding-left:2em;
 }
 @media only screen and (min-width: 500px){
   .topicos__lista{
     flex-wrap: wrap;
     max-width: 80%;
     margin: 0 auto;
   }
 }
 @media only screen and (min-width: 1024px){
   
   .topicos__titulo{
     font-size: 24px;
     font-weight: 300;
     line-height: 36px;
   }
   .topicos__link{
     font-size: 24px;
     font-weight: 700;
   }
   .topicos{
     padding: 3em 4em;
   }
  
   .topicos__item{
     margin-bottom: 1em;
   }
   
 }
